/ComputacaoGrafica/build/
/ComputacaoGrafica/nbproject/private/
/ComputacaoGrafica T3/ComputacaoGraficaT3/nbproject/private/
/ComputacaoGraficaT3/nbproject/private/
/ComputacaoGraficaT2/build/
/ComputacaoGraficaT2/nbproject/private/
/ComputacaoGraficaT3/src/nbproject/private/